In [251]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import timedelta
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

# preprocessing

In [563]:
#load the data
store = pd.read_csv('/Users/nadianesib/Desktop/rossmann-store-sales/store.csv')
sub = pd.read_csv('/Users/nadianesib/Desktop/rossmann-store-sales/sample_submission.csv')
train = pd.read_csv('/Users/nadianesib/Desktop/rossmann-store-sales/train.csv', low_memory=False)
test = pd.read_csv('/Users/nadianesib/Desktop/rossmann-store-sales/test.csv')
new = pd.read_csv('/Users/nadianesib/Desktop/Rossman_phrmaceuticals/cleaned_data_new.csv') #is a cleaned storedataset using pipeline.

In [255]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [258]:
sub

          Id  Sales
0          1      0
1          2      0
2          3      0
3          4      0
4          5      0
...      ...    ...
41083  41084      0
41084  41085      0
41085  41086      0
41086  41087      0
41087  41088      0

[41088 rows x 2 columns]

In [565]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [567]:
test

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

In [569]:
new

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.000000,2008.000000,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
1,4,c,c,620.0,9.000000,2009.000000,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
2,6,a,a,310.0,12.000000,2013.000000,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
3,8,a,a,7520.0,10.000000,2014.000000,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
4,10,a,a,3160.0,9.000000,2009.000000,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
...,...,...,...,...,...,...,...,...,...,...
425,1108,a,a,540.0,4.000000,2004.000000,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
426,1110,c,c,900.0,9.000000,2010.000000,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
427,1112,c,c,1880.0,4.000000,2006.000000,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
428,1113,a,c,9260.0,7.224704,2008.668857,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"
429,1114,a,c,870.0,7.224704,2008.668857,0,23.595447,2011.763573,"Jan,Apr,Jul,Oct"

# Prediction of store sales

In [572]:
#preprocessing,process the data into a format where it can be fed to a machine learning model.

In [574]:
# convert 'Date' column to datetime format
train['Date'] = pd.to_datetime(train['Date'])

In [575]:
# feature Extraction
train['weekday'] = train['Date'].dt.day_name()  # Weekday name
train['is_weekend'] = train['Date'].dt.dayofweek >= 5  # Weekend indicator

In [577]:
# create a mask for holiday dates
holiday_mask = train['StateHoliday'].isin(['a', 'b', 'c'])
holiday_dates = train.loc[holiday_mask, 'Date'].reset_index(drop=True)

In [579]:
# calculate days to next holiday
train['days_to_next_holiday'] = np.nan
for i in range(len(train)):
    future_holidays = holiday_dates[holiday_dates >= train.loc[i, 'Date']]
    if not future_holidays.empty:
        train.at[i, 'days_to_next_holiday'] = (future_holidays.min() - train.loc[i, 'Date']).days

In [581]:
# Calculate days since last holiday
train['days_since_last_holiday'] = np.nan
for i in range(len(train)):
    past_holidays = holiday_dates[holiday_dates < train.loc[i, 'Date']]
    if not past_holidays.empty:
        train.at[i, 'days_since_last_holiday'] = (train.loc[i, 'Date'] - past_holidays.max()).days

In [582]:
# beginning, Mid, and End of Month
train['is_beginning_of_month'] = train['Date'].dt.day <= 10
train['is_mid_month'] = (train['Date'].dt.day > 10) & (train['Date'].dt.day <= 20)
train['is_end_of_month'] = train['Date'].dt.is_month_end

In [583]:
# Extracting more features
train['month'] = train['Date'].dt.month  # Month number
train['year'] = train['Date'].dt.year  # Year
train['quarter'] = train['Date'].dt.quarter  # Quarter of the year
train['is_first_day_of_month'] = train['Date'].dt.is_month_start  # First day of the month
train['is_last_day_of_month'] = train['Date'].dt.is_month_end  # Last day of the month
train['day_of_year'] = train['Date'].dt.dayofyear  # Day of the year
train['week_of_year'] = train['Date'].dt.isocalendar().week  # Week of the year

In [584]:
# display the DataFrame with the new features
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,weekday,...,is_beginning_of_month,is_mid_month,is_end_of_month,month,year,quarter,is_first_day_of_month,is_last_day_of_month,day_of_year,week_of_year
0,1,5,2015-07-31,5263,555,1,1,0,1,Friday,...,False,False,True,7,2015,3,False,True,212,31
1,2,5,2015-07-31,6064,625,1,1,0,1,Friday,...,False,False,True,7,2015,3,False,True,212,31
2,3,5,2015-07-31,8314,821,1,1,0,1,Friday,...,False,False,True,7,2015,3,False,True,212,31
3,4,5,2015-07-31,13995,1498,1,1,0,1,Friday,...,False,False,True,7,2015,3,False,True,212,31
4,5,5,2015-07-31,4822,559,1,1,0,1,Friday,...,False,False,True,7,2015,3,False,True,212,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,Tuesday,...,True,False,False,1,2013,1,True,False,1,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1,Tuesday,...,True,False,False,1,2013,1,True,False,1,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1,Tuesday,...,True,False,False,1,2013,1,True,False,1,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1,Tuesday,...,True,False,False,1,2013,1,True,False,1,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1,Tuesday,...,True,False,False,1,2013,1,True,False,1,1

In [585]:
# Fill NaN values with the mean directly
train['days_since_last_holiday'] = train['days_since_last_holiday'].fillna(train['days_since_last_holiday'].mean())

In [586]:
# Fill NaN values with the mean directly
train['days_since_last_holiday'] = train['days_since_last_holiday'].fillna(train['days_since_last_holiday'].mean())

In [625]:
train.dtypes

Store                             float64
DayOfWeek                         float64
Date                       datetime64[ns]
Sales                             float64
Customers                         float64
Open                              float64
Promo                             float64
StateHoliday                       object
SchoolHoliday                     float64
weekday                            object
is_weekend                           bool
days_to_next_holiday              float64
days_since_last_holiday           float64
is_beginning_of_month                bool
is_mid_month                         bool
is_end_of_month                      bool
month                             float64
year                              float64
quarter                           float64
is_first_day_of_month                bool
is_last_day_of_month                 bool
day_of_year                       float64
week_of_year                      float64
dtype: object

In [627]:
#scaling the data

In [ ]:
# Filter for negative sales values
negative_sales = train[train['Sales'] < 0]
negative_sales

In [710]:
mean_sales = train['Sales'].mean()
train['Sales'] = train['Sales'].where(train['Sales'] >= 0, mean_sales)

In [712]:
train['Sales']

0          0.308465
1          0.308465
2          0.113081
3          2.890182
4          0.308465
             ...
1017204    0.308465
1017205    0.308465
1017206    0.308465
1017207    0.308465
1017208    0.308465
Name: Sales, Length: 1017209, dtype: float64

In [714]:
# Select numerical features for scaling
features_to_scale = ['Store','Open','SchoolHoliday','DayOfWeek','Sales','Customers','Promo','days_to_next_holiday','days_since_last_holiday','month','year','quarter','day_of_year','week_of_year']

In [716]:
# initialize the StandardScaler
scaler = StandardScaler()

In [718]:
# apply scaling to the selected features
train[features_to_scale] = scaler.fit_transform(train[features_to_scale])

In [720]:
train[features_to_scale]

,Store,Open,SchoolHoliday,DayOfWeek,Sales,Customers,Promo,days_to_next_holiday,days_since_last_holiday,month,year,quarter,day_of_year,week_of_year
0,-1.731640,0.452399,2.144211,0.501484,-0.295227,-0.168269,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
1,-1.728534,0.452399,2.144211,0.501484,-0.295227,-0.017540,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
2,-1.725427,0.452399,2.144211,0.501484,-0.538084,0.404499,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
3,-1.722321,0.452399,2.144211,0.501484,2.913776,1.862258,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
4,-1.719214,0.452399,2.144211,0.501484,-0.295227,-0.159656,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1.716545,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890
1017205,1.719651,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890
1017206,1.722758,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890
1017207,1.725864,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890
1017208,1.728970,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890

# Building models with sklearn pipelines

In [729]:
df = pd.DataFrame(train[features_to_scale])

In [731]:
# Features and target variable
X = df.drop(columns=['Sales', 'Store', 'DayOfWeek'])
y = df['Sales']

In [733]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [735]:
# Define the pipeline
pipeline = Pipeline(steps=[
    ('scaler', StandardScaler()),  # Step for scaling
    ('regressor', RandomForestRegressor(random_state=42))  # Random Forest Regressor
])

In [737]:
# Fit the model
pipeline.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('regressor', RandomForestRegressor(random_state=42))])

In [738]:
# Predict on the test set
y_pred = pipeline.predict(X_test)

In [739]:
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.3611708358753129

In [740]:
# Calculate the minimum and maximum sales values
min_sales = train['Sales'].min()
max_sales = train['Sales'].max()

# Calculate the range
sales_range = max_sales - min_sales

# Output the results
print(f'Minimum Sales Value: {min_sales}')
print(f'Maximum Sales Value: {max_sales}')
print(f'Range of Sales Values: {sales_range}')

Minimum Sales Value: -0.6784433285647516
Maximum Sales Value: 19.657212884082785
Range of Sales Values: 20.335656212647535

In [745]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,weekday,...,is_mid_month,is_end_of_month,month,year,quarter,is_first_day_of_month,is_last_day_of_month,day_of_year,week_of_year,sales
0,-1.731640,0.501484,2015-07-31,-0.295227,-0.168269,0.452399,1.273237,0,2.144211,Friday,...,False,True,0.346724,1.502077,0.652353,False,True,0.489328,0.511626,0.000000
1,-1.728534,0.501484,2015-07-31,-0.295227,-0.017540,0.452399,1.273237,0,2.144211,Friday,...,False,True,0.346724,1.502077,0.652353,False,True,0.489328,0.511626,0.000000
2,-1.725427,0.501484,2015-07-31,-0.538084,0.404499,0.452399,1.273237,0,2.144211,Friday,...,False,True,0.346724,1.502077,0.652353,False,True,0.489328,0.511626,0.443212
3,-1.722321,0.501484,2015-07-31,2.913776,1.862258,0.452399,1.273237,0,2.144211,Friday,...,False,True,0.346724,1.502077,0.652353,False,True,0.489328,0.511626,2.739887
4,-1.719214,0.501484,2015-07-31,-0.295227,-0.159656,0.452399,1.273237,0,2.144211,Friday,...,False,True,0.346724,1.502077,0.652353,False,True,0.489328,0.511626,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1.716545,-1.000476,2013-01-01,-0.295227,-1.363330,-2.210440,-0.785400,a,2.144211,Tuesday,...,False,False,-1.457193,-1.070616,-1.196333,True,False,-1.587114,-1.566890,0.000000
1017205,1.719651,-1.000476,2013-01-01,-0.295227,-1.363330,-2.210440,-0.785400,a,2.144211,Tuesday,...,False,False,-1.457193,-1.070616,-1.196333,True,False,-1.587114,-1.566890,0.000000
1017206,1.722758,-1.000476,2013-01-01,-0.295227,-1.363330,-2.210440,-0.785400,a,2.144211,Tuesday,...,False,False,-1.457193,-1.070616,-1.196333,True,False,-1.587114,-1.566890,0.000000
1017207,1.725864,-1.000476,2013-01-01,-0.295227,-1.363330,-2.210440,-0.785400,a,2.144211,Tuesday,...,False,False,-1.457193,-1.070616,-1.196333,True,False,-1.587114,-1.566890,0.000000
1017208,1.728970,-1.000476,2013-01-01,-0.295227,-1.363330,-2.210440,-0.785400,a,2.144211,Tuesday,...,False,False,-1.457193,-1.070616,-1.196333,True,False,-1.587114,-1.566890,0.000000

In [747]:
train[features_to_scale]

,Store,Open,SchoolHoliday,DayOfWeek,Sales,Customers,Promo,days_to_next_holiday,days_since_last_holiday,month,year,quarter,day_of_year,week_of_year
0,-1.731640,0.452399,2.144211,0.501484,-0.295227,-0.168269,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
1,-1.728534,0.452399,2.144211,0.501484,-0.295227,-0.017540,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
2,-1.725427,0.452399,2.144211,0.501484,-0.538084,0.404499,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
3,-1.722321,0.452399,2.144211,0.501484,2.913776,1.862258,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
4,-1.719214,0.452399,2.144211,0.501484,-0.295227,-0.159656,1.273237,NaN,1.034985e+00,0.346724,1.502077,0.652353,0.489328,0.511626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1.716545,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890
1017205,1.719651,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890
1017206,1.722758,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890
1017207,1.725864,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890
1017208,1.728970,-2.210440,2.144211,-1.000476,-0.295227,-1.363330,-0.785400,-1.082628,1.179105e-17,-1.457193,-1.070616,-1.196333,-1.587114,-1.566890

In [749]:
# Calculate the minimum and maximum sales values
min_sales = train[features_to_scale]['Sales'].min()
max_sales = train[features_to_scale]['Sales'].max()

# Calculate the range
sales_range = max_sales - min_sales

# Output the results
print(f'Minimum Sales Value: {min_sales}')
print(f'Maximum Sales Value: {max_sales}')
print(f'Range of Sales Values: {sales_range}')

Minimum Sales Value: -0.6784433285647516
Maximum Sales Value: 19.657212884082785
Range of Sales Values: 20.335656212647535

In [751]:
# Check for remaining negative values
negative_sales = train[train['sales'] < 0]
print("Remaining Negative Sales Values:")
print(negative_sales)

Remaining Negative Sales Values:
Empty DataFrame
Columns: [Store, DayOfWeek, Date, Sales, Customers, Open, Promo, StateHoliday, SchoolHoliday, weekday, is_weekend, days_to_next_holiday, days_since_last_holiday, is_beginning_of_month, is_mid_month, is_end_of_month, month, year, quarter, is_first_day_of_month, is_last_day_of_month, day_of_year, week_of_year, sales]
Index: []

[0 rows x 24 columns]

In [756]:
print("Final Sales Statistics after Replacement:")
print(train['Sales'].describe())

Final Sales Statistics after Replacement:
count    1.017209e+06
mean    -6.616399e-17
std      1.000000e+00
min     -6.784433e-01
25%     -2.952271e-01
50%     -2.952271e-01
75%     -2.952271e-01
max      1.965721e+01
Name: Sales, dtype: float64